<!-------- ********************* HEADER SECTION *********************** ----->
<section style="padding: 30px 20px 15px;font-family: Arial, Helvetica, sans-serif; margin-top: 100px;">
    <table style="width: 100%;" align="center">
      <td>
        <div style="text-align:center;padding-top:50px">
          <h2>!! Comienza a construir tu diseño !!</h2>
          <p>
            Para mas información sigue nuestro tutoria en:
            <a href="https://help.kitagil.com/kb/dise%C3%B1ar-plantilla-de-presupuesto">Tutorial KItagil - Invoice</a>
          </p>
          <p style="text-align: center;width: 100%">
            <code style="text-align: center;width: 100%">https://help.kitagil.com/kb/dise%C3%B1ar-plantilla-de-presupuesto</code>
          </p>
        </div>
      </td>
    </table>
  </section>
  